[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "multichainr"]
	path = multichainr
	url = https://github.com/datascienceadvice/multichainr
